CONFIG_MMU=y
CONFIG_ARCH_OMAP=y
CONFIG_ARCH_OMAP2PLUS=y
CONFIG_ARCH_OMAP2=n
CONFIG_ARCH_OMAP3=n
CONFIG_ARCH_OMAP4=n
CONFIG_SOC_OMAP5=n
CONFIG_SOC_AM33XX=n
CONFIG_SOC_AM43XX=y
CONFIG_SOC_DRA7XX=n
CONFIG_ARM_PATCH_PHYS_VIRT=y
CONFIG_XIP_KERNEL=n
CONFIG_THUMB2_KERNEL=n
CONFIG_ZSMALLOC=n
CONFIG_ARCH_MULTIPLATFORM=n
CONFIG_DEBUG_INFO=n
CONFIG_SAMPLES=n
CONFIG_WANXL_BUILD_FIRMWARE=n
CONFIG_STAGING=n
